
/* Logo Blue:   #140eae   20,14,174 */
/* Logo Red:   #ed1b24   237,27,36 */

.navbar {
   color: #140eae;
   background-color: #fff;
   -webkit-box-shadow: 0px 2px 10px -5px rgba(20,14,174,1);
   -moz-box-shadow: 0px 2px 10px -5px rgba(20,14,174,1);
   box-shadow: 0px 2px 10px -5px rgba(20,14,174,1);
}

.loading {
   
}

.nav-container {

}

.navbar-menu {

}
.navbar-search {

}
.navbar-search-input {

}
.sidebar {
   
}
.navbar-socials {

}